In [1]:
import xpress as xp
import pandas as pd
import numpy as np
import os

In [50]:
# Create a problem called location

location = xp.problem(name='location')

In [4]:
conda install -c anaconda openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
# already existing charging points

charg_point_path = os.path.join('Project_data/Charging_points.xlsx')
charg_point = pd.read_excel(charg_point_path)

In [4]:
charg_point.head()

,CP ID,Type,geometry,Latitude,Longitude,grid number
0,51085,Slow,POINT (-3.011192785069142 56.47296514001275),56.472965,-3.011193,146
1,SCO50884,Fast,POINT (-3.057191218106697 56.46983341001484),56.469833,-3.057191,76
2,50264,Slow,POINT (-2.917475282989725 56.48982926001875),56.489829,-2.917475,304
3,50263,Slow,POINT (-2.91751565698979 56.48972199001865),56.489722,-2.917516,304
4,50274,Fast,POINT (-2.966478267037299 56.46149715999641),56.461497,-2.966478,214

In [5]:
charg_point.shape

(78, 6)

In [6]:
charg_point.iloc[-1]

CP ID                                                 51132
Type                                                   Fast
geometry       POINT (-2.984288107053444 56.45494890999196)
Latitude                                          56.454949
Longitude                                         -2.984288
grid number                                             185
Name: 77, dtype: object

In [7]:
demand_path = os.path.join('Project_data/Demand_data.xlsx')
demand = pd.read_excel(demand_path)

In [8]:
demand.loc[100:105]

,Ref,geometry,Number of Charging Points,Number of Slow Charging Points,Number of Fast Charging Points,Number of Rapid Charging Points,Number of PoI,Number of Potential Locations,Distance from Centre,NEIGHBORS,Demand_0,Demand_1,Demand_2,Demand_3
100,101,"POLYGON ((-3.044190289672857 56.4533005586958,...",0,0,0,0,0,1,4442.921761,"[86, 87, 88, 100, 102, 114, 115, 116]",0.0,0.000000,72.230017,241.821149
101,102,POLYGON ((-3.044324704148503 56.45819844677619...,0,0,0,0,0,3,4375.167312,"[87, 88, 89, 101, 103, 115, 116, 117]",0.0,444.631572,968.172278,1627.425046
102,103,POLYGON ((-3.044459160842206 56.46309633075683...,0,0,0,0,1,11,4374.844088,"[88, 89, 90, 102, 104, 116, 117, 118]",0.0,443.063371,1007.432635,1783.221659
103,104,POLYGON ((-3.044593659772223 56.46799421063793...,0,0,0,0,1,3,4441.966808,"[89, 90, 91, 103, 105, 117, 118, 119]",0.0,444.257814,1387.704616,2920.679769
104,105,POLYGON ((-3.044728200956817 56.47289208641969...,0,0,0,0,0,2,4573.566879,"[90, 91, 92, 104, 106, 118, 119, 120]",0.0,0.000000,488.563483,1595.447338
105,106,"POLYGON ((-3.044862784414267 56.4777899581023,...",0,0,0,0,0,1,4764.304294,"[91, 92, 93, 105, 107, 119, 120, 121]",0.0,0.000000,873.458540,2708.092266

In [34]:
print(demand.info)

<bound method DataFrame.info of      Ref                                           geometry  \
0      1  POLYGON ((-3.105818823440952 56.44296858524104...
1      2  POLYGON ((-3.105961112538962 56.44786638257236...
2      3  POLYGON ((-3.106103446316349 56.45276417577815...
3      4  POLYGON ((-3.106245824792422 56.45766196485858...
4      5  POLYGON ((-3.106388247986505 56.46255974981385...
..   ...                                                ...
429  430  POLYGON ((-2.841505846300256 56.48913269331089...
430  431  POLYGON ((-2.841614325647596 56.49403083838651...
431  432  POLYGON ((-2.841722839098455 56.49892897943724...
432  433  POLYGON ((-2.841831386667599 56.50382711646336...
433  434  POLYGON ((-2.841939968369799 56.50872524946503...

     Number of Charging Points  Number of Slow Charging Points  \
0                            0                               0
1                            0                               0
2                            0                               0
3                            0                               0
4                            0                               0
..                         ...                             ...
429                          0                               0
430                          0                               0
431                          0                               0
432                          0                               0
433                          0                               0

     Number of Fast Charging Points  Number of Rapid Charging Points  \
0                                 0                                0
1                                 0                                0
2                                 0                                0
3                                 0                                0
4                                 0                                0
..                              ...                              ...
429                               0                                0
430                               0                                0
431                               0                                0
432                               0                                0
433                               0                                0

     Number of PoI  Number of Potential Locations  Distance from Centre  \
0                0                              0           8403.561223
1                0                              0           8296.571785
2                0                              0           8224.414999
3                0                              0           8188.011805
4                0                              0           8187.839098
..             ...                            ...                   ...
429              0                              0           8706.537927
430              0                              0           8908.916529
431              0                              0           9139.388454
432              0                              0           9395.886624
433              0                              0           9676.341567

                     NEIGHBORS  Demand_0  Demand_1  Demand_2  Demand_3
0                  [2, 15, 16]       0.0       0.0       0.0       0.0
1           [1, 3, 15, 16, 17]       0.0       0.0       0.0       0.0
2           [2, 4, 16, 17, 18]       0.0       0.0       0.0       0.0
3           [3, 5, 17, 18, 19]       0.0       0.0       0.0       0.0
4           [4, 6, 18, 19, 20]       0.0       0.0       0.0       0.0
..                         ...       ...       ...       ...       ...
429  [415, 416, 417, 429, 431]       0.0       0.0       0.0       0.0
430  [416, 417, 418, 430, 432]       0.0       0.0       0.0       0.0
431  [417, 418, 419, 431, 433]       0.0       0.0       0.0       0.0
432  [418, 419, 420, 432, 434]       0.0       0.0       0.0       0.0
433            [419, 420, 433]       0.0       0.0       0.0       0.0

[434 rows x 14 columns]>

In [9]:
# points of interest in each grid

interest_point_path = os.path.join('Project_data/Interest _points.xlsx')
interest_point = pd.read_excel(interest_point_path)

In [10]:
interest_point.head()

,amenity,geometry,Latitude,Longitude,grid number
0,restaurant,POINT (-2.852617986940523 56.48412800000578),56.484128,-2.852618,400
1,restaurant,POINT (-2.849993386942502 56.47134889999293),56.471349,-2.849993,398
2,restaurant,POINT (-2.872495786961546 56.46693379999114),56.466934,-2.872496,369
3,restaurant,POINT (-2.873346686962511 56.46599179999032),56.465992,-2.873347,369
4,restaurant,POINT (-2.873426086962618 56.46584759999016),56.465848,-2.873426,369

In [11]:
amenity1 = set(interest_point['amenity'])
amenity1

# more cars at which place?
# for example, many restaurants at 369

{'restaurant', 'school', 'supermarket'}

In [12]:
# potential charging points
pt_charg_point_path = os.path.join('Project_data/Potential_charging_points.xlsx')
pt_charg_point = pd.read_excel(pt_charg_point_path)

In [13]:
pt_charg_point.head()

,amenity,geometry,Latitude,Longitude,grid number
0,parking,POINT (-3.046891287099621 56.46621650001012),56.466217,-3.046891,89
1,fuel,POINT (-2.848473686941031 56.47224079999363),56.472241,-2.848474,412
2,parking,POINT (-2.895034186977277 56.47320819999986),56.473208,-2.895034,328
3,fuel,POINT (-2.963304387034162 56.46350399999802),56.463504,-2.963304,228
4,fuel,POINT (-2.9776499870463 56.46097389999711),56.460974,-2.977650,200

In [14]:
print(pt_charg_point['grid number'])

0       89
1      412
2      328
3      228
4      200
      ...
320     90
321     90
322     90
323    185
324    200
Name: grid number, Length: 325, dtype: int64

In [15]:
amenity2 = set(pt_charg_point['amenity'])
amenity2

{'fuel', 'parking'}

In [16]:
# Defining the index set

number_of_grids = 434
number_of_years = 4
grids = range(number_of_grids)
years = range(number_of_years)

In [17]:
# the demand every slow/ fast/ rapid chargers can satisfy
slow_c = [2000, 3500]
fast_c = [4000, 5200]
rapid_c = [30000, 50500]

# decision variables

In [59]:
# how many slow/ fast/ rapid connectors to have in each potential grid in year t
#x1 = np.array([xp.var( name='x1_{0}_{1}'.format(i,j+1))
                    #for i in years for j in grids], dtype=xp.integer).reshape(number_of_years, number_of_grids)
#x2 = np.array([xp.var( name='x2_{0}_{1}'.format(i,j+1))
                    #for i in years for j in grids], dtype=xp.integer).reshape(number_of_years, number_of_grids)
#x3 = np.array([xp.var( name='x3_{0}_{1}'.format(i,j+1))
                    #for i in years for j in grids], dtype=xp.integer).reshape(number_of_years, number_of_grids)
#location.addVariable(x1, x2, x3)

In [57]:
# how many slow/ fast/ rapid connectors to have in each potential grid in year t
x1 = np.array([xp.var(vartype = xp.integer, name='x1_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids]).reshape(number_of_years, number_of_grids)
x2 = np.array([xp.var(vartype = xp.integer, name='x2_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids]).reshape(number_of_years, number_of_grids)
x3 = np.array([xp.var(vartype = xp.integer, name='x3_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids]).reshape(number_of_years, number_of_grids)
location.addVariable(x1, x2, x3)

In [58]:
# for each grid, demand can be satisfied by this grid and its neighbours
y = np.array([xp.var( name='y_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids], dtype=xp.npvar).reshape(number_of_years, number_of_grids)

# constraints

In [19]:
# for each potential charging point, we can install one or more charging stations
grid_pt_charg = pt_charg_point.groupby('grid number').count()
grid_pt_charg

             amenity  geometry  Latitude  Longitude
grid number
61                 2         2         2          2
75                 3         3         3          3
76                 4         4         4          4
77                 1         1         1          1
88                 3         3         3          3
...              ...       ...       ...        ...
385                1         1         1          1
397                1         1         1          1
399                2         2         2          2
400                3         3         3          3
412                1         1         1          1

[98 rows x 4 columns]

In [20]:
num_grid_pt = number_of_grids*[0]
for ind in grid_pt_charg.index:
    # print(ind)
    # print(grid_pt_charg.iloc[ind]['grid number'])
    num_grid_pt[ind-1] = grid_pt_charg.loc[ind]['amenity']
num_grid_pt[75-1]

3

In [43]:
location.addConstraint(sum((x1[t,i] + x2[t,i] + x3[t,i]) for t in years)>= num_grid_pt[i] for i in grids)

In [22]:
print(demand.loc[demand['Ref'] == 102, 'Demand_1'].iloc[0])

444.6315721382473

In [23]:
# demand satisfied by existing charging points?
print(charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0])
# this does not work if 146 is not an existing grid

Slow

In [24]:
# for i in grids
    # if charg_point['grid number'] == 146???/\
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'slow'
        #a = 
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'fast'
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'rapid'
    # else

In [25]:
#for i in grids:
    #if i+1 in charg_point['grid number'].tolist():
        #print(i+1, charg_point.loc[charg_point['grid number'] == i+1, 'Type'].iloc[0])
        
# but in one grid, there might have existed more than 1 connectors
sat_demand = number_of_grids*[0]
for ind in charg_point.index:
    #print(ind, charg_point.iloc[ind]['grid number'], charg_point.iloc[ind]['Type'])
    # already satisfied demand
    if charg_point.iloc[ind]['Type'] == 'Slow':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += slow_c[1]
    elif charg_point.iloc[ind]['Type'] == 'Fast':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += fast_c[1]
    elif charg_point.iloc[ind]['Type'] == 'Rapid':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += rapid_c[1]

In [26]:
print(sat_demand[200-1])

31400

In [27]:
print(charg_point.loc[charg_point['grid number'] == 200, 'Type'])

68    Fast
69    Fast
70    Slow
71    Slow
72    Slow
73    Slow
74    Slow
75    Slow
Name: Type, dtype: object

In [28]:
print(charg_point['grid number'].tolist())

[146, 76, 304, 304, 214, 134, 314, 214, 199, 199, 147, 263, 199, 129, 186, 216, 216, 216, 216, 216, 300, 216, 216, 216, 216, 216, 345, 369, 369, 301, 300, 274, 263, 259, 288, 205, 205, 150, 163, 76, 117, 117, 59, 91, 103, 144, 190, 189, 159, 189, 189, 189, 189, 189, 190, 189, 160, 160, 160, 173, 173, 228, 228, 228, 214, 214, 214, 199, 200, 200, 200, 200, 200, 200, 200, 200, 202, 185]

In [49]:
# neighbour grids
grid_neighbor = demand['NEIGHBORS']
print(grid_neighbor[0])
grid_neighbor[100:105]

[2, 15, 16]

100    [86, 87, 88, 100, 102, 114, 115, 116]
101    [87, 88, 89, 101, 103, 115, 116, 117]
102    [88, 89, 90, 102, 104, 116, 117, 118]
103    [89, 90, 91, 103, 105, 117, 118, 119]
104    [90, 91, 92, 104, 106, 118, 119, 120]
Name: NEIGHBORS, dtype: object

In [ ]:
#

In [44]:
# satisfying demand of the 4 years
# not necessary, just putting it here for now
# demand can also be satisfied by neighbour girds

location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i] + sat_demand[i]) for t1 in range(1))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0]-300 for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i] + sat_demand[i]) for t1 in range(2))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0]-300 for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i] + sat_demand[i]) for t1 in range(3))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0]-300 for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i] + sat_demand[i]) for t1 in range(4))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0]-300 for i in grids)

In [30]:
# grid number of existing charging points
ex_pt = charg_point['grid number'].tolist()
# grid number of potential charging points
po_pt = pt_charg_point['grid number'].tolist()
all_pt = ex_pt + po_pt
# combine existing charging points and potential ones
# remove duplicates and sort it
all_pt = sorted(list(dict.fromkeys(all_pt)))
all_pt[:10]

[59, 61, 75, 76, 77, 88, 89, 90, 91, 101]

In [31]:
print(len(all_pt))

111

In [32]:
# more than one potential charging stations in one grid
# for potential charging stations in the same grid, they have different geometry
print(len(po_pt))
print(len(list(dict.fromkeys(po_pt))))

325
98

In [33]:
pt_charg_point.sort_values('grid number')
pt_charg_point

,amenity,geometry,Latitude,Longitude,grid number
0,parking,POINT (-3.046891287099621 56.46621650001012),56.466217,-3.046891,89
1,fuel,POINT (-2.848473686941031 56.47224079999363),56.472241,-2.848474,412
2,parking,POINT (-2.895034186977277 56.47320819999986),56.473208,-2.895034,328
3,fuel,POINT (-2.963304387034162 56.46350399999802),56.463504,-2.963304,228
4,fuel,POINT (-2.9776499870463 56.46097389999711),56.460974,-2.977650,200
...,...,...,...,...,...
320,parking,POINT (-3.049633514318001 56.46803411923985),56.468034,-3.049634,90
321,parking,POINT (-3.04807983709986 56.46847420001244),56.468474,-3.048080,90
322,parking,POINT (-3.049187742371133 56.46811767026757),56.468118,-3.049188,90
323,parking,POINT (-2.984290155389708 56.45541694403015),56.455417,-2.984290,185
324,parking,POINT (-2.976606342622262 56.46307233160453),56.463072,-2.976606,200

In [ ]:
# as to the solution requirements
# 1 The council wants to limit the number of charging point locations in each grid square as this may 
# result in too much traffic in the grid square.
# 2 The council also to limit the number of charging stations in the city centre. Generally
# the largest demand for recharging facilities in the centre of town, however, if all this
# demand is satisfied in the city centre it may result in increase traffic in the city centre.

In [36]:
# we can minimize the (distance from city center * number of chargers for each grid) 
# use the dataframe demand
grid_dis = demand['Distance from Centre']
grid_dis

0      8403.561223
1      8296.571785
2      8224.414999
3      8188.011805
4      8187.839098
          ...
429    8706.537927
430    8908.916529
431    9139.388454
432    9395.886624
433    9676.341567
Name: Distance from Centre, Length: 434, dtype: float64

In [45]:
location.setObjective(xp.Sum((9676.341567 - grid_dis[i])*xp.Sum((x1[t,i] + x2[t,i] + x3[t,i]) for t in years) 
                         for i in grids), 
                  sense = xp.minimize)

In [46]:
location.solve()

FICO Xpress v8.13.7, Hyper, solve started 22:14:56, Nov 18, 2022
Heap usage: 2410KB (peak 2410KB, 820KB system)
Minimizing LP location using up to 8 threads, with these control settings:
OUTPUTLOG = 1
Original problem has:
      2170 rows         5208 cols        18228 elements
The problem is unbounded due to column x1_0_14
Presolve finished in 0 seconds
Heap usage: 2060KB (peak 3867KB, 820KB system)

In [47]:
print(f'The objective function value is {location.getObjVal()}')

The objective function value is 0.0