In [1]:
import xpress as xp
import pandas as pd
import numpy as np
import os

In [31]:
# Create a problem called location

location = xp.problem(name='location')

In [5]:
conda install -c anaconda openpyxl

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
# already existing charging points

charg_point_path = os.path.join('Project_data/Charging_points.xlsx')
charg_point = pd.read_excel(charg_point_path)

In [4]:
charg_point.head()

,CP ID,Type,geometry,Latitude,Longitude,grid number
0,51085,Slow,POINT (-3.011192785069142 56.47296514001275),56.472965,-3.011193,146
1,SCO50884,Fast,POINT (-3.057191218106697 56.46983341001484),56.469833,-3.057191,76
2,50264,Slow,POINT (-2.917475282989725 56.48982926001875),56.489829,-2.917475,304
3,50263,Slow,POINT (-2.91751565698979 56.48972199001865),56.489722,-2.917516,304
4,50274,Fast,POINT (-2.966478267037299 56.46149715999641),56.461497,-2.966478,214

In [5]:
charg_point.shape

(78, 6)

In [6]:
charg_point.iloc[-1]

CP ID                                                 51132
Type                                                   Fast
geometry       POINT (-2.984288107053444 56.45494890999196)
Latitude                                          56.454949
Longitude                                         -2.984288
grid number                                             185
Name: 77, dtype: object

In [7]:
demand_path = os.path.join('Project_data/Demand_data.xlsx')
demand = pd.read_excel(demand_path)

In [8]:
demand.loc[100:105]

,Ref,geometry,Number of Charging Points,Number of Slow Charging Points,Number of Fast Charging Points,Number of Rapid Charging Points,Number of PoI,Number of Potential Locations,Distance from Centre,NEIGHBORS,Demand_0,Demand_1,Demand_2,Demand_3
100,101,"POLYGON ((-3.044190289672857 56.4533005586958,...",0,0,0,0,0,1,4442.921761,"[86, 87, 88, 100, 102, 114, 115, 116]",0.0,0.000000,72.230017,241.821149
101,102,POLYGON ((-3.044324704148503 56.45819844677619...,0,0,0,0,0,3,4375.167312,"[87, 88, 89, 101, 103, 115, 116, 117]",0.0,444.631572,968.172278,1627.425046
102,103,POLYGON ((-3.044459160842206 56.46309633075683...,0,0,0,0,1,11,4374.844088,"[88, 89, 90, 102, 104, 116, 117, 118]",0.0,443.063371,1007.432635,1783.221659
103,104,POLYGON ((-3.044593659772223 56.46799421063793...,0,0,0,0,1,3,4441.966808,"[89, 90, 91, 103, 105, 117, 118, 119]",0.0,444.257814,1387.704616,2920.679769
104,105,POLYGON ((-3.044728200956817 56.47289208641969...,0,0,0,0,0,2,4573.566879,"[90, 91, 92, 104, 106, 118, 119, 120]",0.0,0.000000,488.563483,1595.447338
105,106,"POLYGON ((-3.044862784414267 56.4777899581023,...",0,0,0,0,0,1,4764.304294,"[91, 92, 93, 105, 107, 119, 120, 121]",0.0,0.000000,873.458540,2708.092266

In [9]:
# points of interest in each grid

interest_point_path = os.path.join('Project_data/Interest _points.xlsx')
interest_point = pd.read_excel(interest_point_path)

In [10]:
interest_point.head()

,amenity,geometry,Latitude,Longitude,grid number
0,restaurant,POINT (-2.852617986940523 56.48412800000578),56.484128,-2.852618,400
1,restaurant,POINT (-2.849993386942502 56.47134889999293),56.471349,-2.849993,398
2,restaurant,POINT (-2.872495786961546 56.46693379999114),56.466934,-2.872496,369
3,restaurant,POINT (-2.873346686962511 56.46599179999032),56.465992,-2.873347,369
4,restaurant,POINT (-2.873426086962618 56.46584759999016),56.465848,-2.873426,369

In [11]:
amenity1 = set(interest_point['amenity'])
amenity1

{'restaurant', 'school', 'supermarket'}

In [12]:
# potential charging points
pt_charg_point_path = os.path.join('Project_data/Potential_charging_points.xlsx')
pt_charg_point = pd.read_excel(pt_charg_point_path)

In [13]:
pt_charg_point.head()

,amenity,geometry,Latitude,Longitude,grid number
0,parking,POINT (-3.046891287099621 56.46621650001012),56.466217,-3.046891,89
1,fuel,POINT (-2.848473686941031 56.47224079999363),56.472241,-2.848474,412
2,parking,POINT (-2.895034186977277 56.47320819999986),56.473208,-2.895034,328
3,fuel,POINT (-2.963304387034162 56.46350399999802),56.463504,-2.963304,228
4,fuel,POINT (-2.9776499870463 56.46097389999711),56.460974,-2.977650,200

In [14]:
print(pt_charg_point['grid number'])

0       89
1      412
2      328
3      228
4      200
      ...
320     90
321     90
322     90
323    185
324    200
Name: grid number, Length: 325, dtype: int64

In [15]:
amenity2 = set(pt_charg_point['amenity'])
amenity2

{'fuel', 'parking'}

In [32]:
# Defining the index set

number_of_grids = 434
number_of_years = 4
grids = range(number_of_grids)
years = range(number_of_years)

In [17]:
# the demand every slow/ fast/ rapid chargers can satisfy
slow_c = [2000, 3500]
fast_c = [4000, 5200]
rapid_c = [30000, 50500]

In [33]:
# how many slow/ fast/ rapid connectors to have in each potential grid in year t
x1 = np.array([xp.var( name='x1_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids], dtype=xp.npvar).reshape(number_of_years, number_of_grids)
x2 = np.array([xp.var( name='x2_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids], dtype=xp.npvar).reshape(number_of_years, number_of_grids)
x3 = np.array([xp.var( name='x3_{0}_{1}'.format(i,j+1))
                    for i in years for j in grids], dtype=xp.npvar).reshape(number_of_years, number_of_grids)
location.addVariable(x1, x2, x3)

In [34]:
# for each potential charging point, we can install one or more charging stations
location.addConstraint(sum((x1[t,i] + x2[t,i] + x3[t,i]) for t in years)>= 1 for i in grids)

In [35]:
# satisfying demand of the 4 years

location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i]) for t1 in range(1))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0] for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i]) for t1 in range(2))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0] for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i]) for t1 in range(3))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0] for i in grids)
location.addConstraint(sum((slow_c[1]*x1[t1,i] + fast_c[1]*x2[t1,i] + rapid_c[1]*x3[t1,i]) for t1 in range(4))>=
                               demand.loc[demand['Ref'] == i+1, 'Demand_0'].iloc[0] for i in grids)

In [21]:
print(demand.loc[demand['Ref'] == 102, 'Demand_1'].iloc[0])

444.6315721382473

In [22]:
# demand satisfied by existing charging points?
print(charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0])
# this does not work if 146 is not an existing grid

Slow

In [23]:
# for i in grids
    # if charg_point['grid number'] == 146???/\
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'slow'
        #a = 
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'fast'
        #if charg_point.loc[charg_point['grid number'] == 146, 'Type'].iloc[0] = 'rapid'
    # else

In [51]:
#for i in grids:
    #if i+1 in charg_point['grid number'].tolist():
        #print(i+1, charg_point.loc[charg_point['grid number'] == i+1, 'Type'].iloc[0])
        
# but in one grid, there might have existed more than 1 connectors
sat_demand = number_of_grids*[0]
for ind in charg_point.index:
    #print(ind, charg_point.iloc[ind]['grid number'], charg_point.iloc[ind]['Type'])
    # already satisfied demand
    if charg_point.iloc[ind]['Type'] == 'Slow':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += slow_c[1]
    elif charg_point.iloc[ind]['Type'] == 'Fast':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += fast_c[1]
    elif charg_point.iloc[ind]['Type'] == 'Rapid':
        sat_demand[charg_point.iloc[ind]['grid number']-1] += rapid_c[1]

In [53]:
print(sat_demand[200-1])

31400

In [55]:
print(charg_point.loc[charg_point['grid number'] == 200, 'Type'])

68    Fast
69    Fast
70    Slow
71    Slow
72    Slow
73    Slow
74    Slow
75    Slow
Name: Type, dtype: object

In [41]:
print(charg_point['grid number'].tolist())

[146, 76, 304, 304, 214, 134, 314, 214, 199, 199, 147, 263, 199, 129, 186, 216, 216, 216, 216, 216, 300, 216, 216, 216, 216, 216, 345, 369, 369, 301, 300, 274, 263, 259, 288, 205, 205, 150, 163, 76, 117, 117, 59, 91, 103, 144, 190, 189, 159, 189, 189, 189, 189, 189, 190, 189, 160, 160, 160, 173, 173, 228, 228, 228, 214, 214, 214, 199, 200, 200, 200, 200, 200, 200, 200, 200, 202, 185]

In [49]:
print(len(sat_demand))

434

In [ ]:
# maybe to minimize the cost
location.setObjective(, sense = xp.minimize)

In [ ]:
location.solve()